@font-face
{
    font-family:Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}
@font-face
{
    font-family:Acme;
    src: url('../fonts/Acme/Acme-Regular.ttf');
}
@font-face
{
    font-family:Varela;
    src: url('../fonts/Varela_Round/VarelaRound-Regular.ttf');
}
