body
{   height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url(../assets/chill.jpg)  no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    opacity:80%;
}
.regbox
{
    widows: 320px;
    height: 540px;
    background: #000;
    color:#fff;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding: 70px 30px;

}
.avatar
{
   width: 100px; 
   height: 100px;
   border-radius:50%;
   top: -50px;
   left: 44%;
   position: absolute;
  
}
.regbox h1
{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.regbox p
{
    margin: 0;
    padding:0;
    font-weight:bold;
}
.regbox input
{
    width:100%;
    margin-bottom:20px;
}
.regbox input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color:#fff;
    font-size: 16px;
}
.regbox input[type="submit"]
{
    border:none;
    outline:none;
    height: 40px;
    background: #fb2525;
    color:#fff;
    font-size:18px;
    border-radius: 20px;
}
.regbox input[type="submit"]:hover
{
    cursor: pointer;
    background:orange;
    color:#000;
}
.regbox a
{
    text-decoration: none;
    font-size:15px;
    line-height: 22px;
    color:darkmagenta;
}
.regbox a:hover
{
    color:orange;
}